body{
    background-color : #fafafa;
    font-family : Microsoft New Tai Lue; 
}
.staticpart{
    background : #ffffff;
    position : fixed;
    top : 0px;
    left : 0px;
    border : none;
    padding : 5px 40px 5px 40px;
    border : 1px solid #dbdbdb;
    width : 1500px;
    height : 40px;
}
.nav{
    background : #ffffff;
    position : fixed;
    top : 1px;
    left : 270px;
    border : none;
    padding : 7px 10px 0 10px;
    width : 1000px;
    height : 40px;
}
.nav input{
    background-color : #fafafa;
    border : 1px solid #dbdbdb;
    text-align : center;   
    height : 29px; 
    width : 215px;
    border-radius : 2px;
    margin-right : 160px;
    margin-left : 245px
}
.nav input:focus{ 
    outline : none;
    border : 1px solid #a8a8a8;
}
:: placeholder{
    color : #a8a8a8; 
}
.suggestion{
    background : #fafafa;
    position : fixed;
    top : 80px;
    left : 920px;
    border : none;
    padding : 20px 10px 0 0;
    width : 350px;
    height : 520px;
}
.suggestion a{
    color : #0095f6;
    text-decoration : none;
    font-size : 13px;
    font-family : Microsoft New Tai Lue; 
    font-weight : bold;
}
.suggestion pre{
    font-size : 14px;
    font-weight : bold;
    color : #a8a8a8;
}
.suggestion b{
    color : #a8a8a8;
    font-size : 13px;
    font-weight : normal;
}
.name a{
    color : #000;
    text-decoration : none;
    font-size : 14px;
    font-family : Microsoft New Tai Lue; 
    font-weight : bold;
}
.name a:hover{
    text-decoration : underline;
}
.top{
    background : #ffffff;
    position : absolute;
    top : 80px;
    left : 290px;
    border : none;
    padding-top : 15px;
    padding-right : 15px;
    padding-left : 15px;
    padding-bottom : 2px;
    width : 565px;
    height : 110px;
    border : 1px solid #dbdbdb;
    overflow-x : scroll;
    overflow-y : auto;
    white-space : nowrap;
   -webkit-overflow-scrolling : touch;
   -ms-overflow-style : none;
   scrollbar-width : none;
   display : flex;
   flex-direction : row;
   font-size : 13px;
   
}
pre{
    font-size : 14px;
    font-family : Microsoft New Tai Lue;
}
hr{
    border-top : 1px solid #dbdbdb;
}
.story{
   margin-right : 10px;
   width : 65px;
   height : 65px;
   border-radius : 50%;
   postion : relative;
   padding : 3.2px;
   background : radial-gradient(farthest-corner at 3px 60px, #fe9441 30%,#ca3b96 70%)
}
.top img{
   vertical-align : top; 
   margin-right : 15px;
   background : #fff;
   border-radius : 50%;
   border: 2.5px solid transparent;
   margin-bottom : 8px;
}
::-webkit-scrollbar{
    width : 0;
    background : transparent;
}
input{
    background-color : #ffffff;
    border : none;
    text-align : left;   
    height : 30px; 
    width : 480px;
}
input:focus{ 
    outline : none;
    border : none;
}
.post{
    left : 290px;
     position : absolute;
    background : #ffffff;
    position : absolute;
    border : none;
    width : 595px;
    height : 1000px;
    border : 1px solid #dbdbdb;
}
table,th,td{
   text-align : left;
 }
a{
    color : #0095f6;
    text-decoration : none;
    font-size : 14px;
    font-family : Microsoft New Tai Lue; 
    font-weight : bold;
}
select{
    border : none;
    background-color : #fafafa;
    font-size : 12px;
    font-family : Microsoft New Tai Lue;
    color : #a8a8a8;
    -moz-border-radius : 0;
    -webkit-appearance: none;
}

select:focus{
    outline : none;
    border : none;
}

